<title> Chore Wheel </title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"></link>
	  <head>
    <div class="panel panel-default col-md-8 col-md-offset-2">
      <div class="panel-heading"><h1>Chore Wheel</h1></div>
      <div class="panel-body">
        <title> Chore Wheel </title>
        <body>
        	<table class="table table-bordered table-striped">
            <tr>
              <th><h3>Person</h3></th>
              <th><h3>Chore</h3></th>
            </tr>
            <tr {% for chore in chores %}>
              <td>{{chore.assigned}}</td>
              <td>{{chore.name}}</td>
            </tr {% endfor %}>
        		</tr>
        	</table>
        </body>
      </div>
    </div>
  </head>
</html>
